*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	background-color: #232935;
	position: relative;
	height: 100vh;
}

.main-container {
	color: #fff;
	background-color: #363f51;
	font-size: 1.8rem;
	padding: 2rem 2rem;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.calculation {
	display: flex;
	justify-content: space-around;
	margin-bottom: 4rem;
	gap: 2rem;
}

article {
	padding: 1rem 2rem;
	border: 1px solid #7d8699;
}

.result,
.secondary-heading {
	text-align: center;
}

.secondary-heading {
	margin-bottom: 4rem;
}

.master-input,
.slave-input {
	display: flex;
}

label,
input {
	margin-right: 0.5rem;
}

input {
	border-radius: 5px;
	margin-right: 1.5rem;
	box-shadow: none;
	text-align: right;
	font-size: 1.5rem;
	max-width: 5rem;
	transition: all 0.15s ease-in-out;
	border-style: none;
}

input:hover {
	border: 2px solid #00bcdd;
}

input:focus {
	outline: 3px solid #00bcdd;
}

.result {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	align-items: center;
	transition: all 0.15s ease-in-out;
}

.total {
	background-color: #586278;
	font-size: 2.4rem;
	display: inline-block;
	min-width: 150px;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
}

.label {
	font-weight: 500;
	letter-spacing: 0.1rem;
}

button {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	background-color: #586278;
	border-color: #586278;
	border-style: none;
	color: #fff;
	border-collapse: collapse;
	transition: all 0.15s ease-in-out;
}

button:hover {
	background-color: #485062;
	border-color: #424a5b;
	cursor: pointer;
}

svg {
	width: 35px;
}

.message{
	display: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	background-color: #263238;
	border: 1px solid #586278;
	position: absolute;
	font-size: 1.2rem;
	bottom: -20px;
}

.message-reset {
	display: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	background-color: #263238;
	border: 1px solid #586278;
	position: absolute;
	font-size: 1.2rem;
	bottom: -20px;
}

.message {
	right: 4.5%;
}

.message-reset {
	right: 1.8%;
}

button:hover + .message {
	display: block;
}

button:hover + .message-reset {
	display: block;
}
